version: "3.8"

services:
  wbuy-pagamentos:
    container_name: wbuy-pagamentos
    build: .
    image: wbuy-pagamentos:latest
    restart: always
    env_file:
      - .env
    environment:
      PORT: 5000
    volumes:
      - ./storage:/app/storage
    networks:
      - web
      - internal
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.wbuy-pagamentos.rule=Host(`wbuypgto.crmvendedor.com.br`) && PathPrefix(`/wbuy`)"
      - "traefik.http.routers.wbuy-pagamentos.entrypoints=websecure"
      - "traefik.http.routers.wbuy-pagamentos.tls=true"
      - "traefik.http.routers.wbuy-pagamentos.tls.certresolver=le"
      - "traefik.http.routers.wbuy-pagamentos.service=wbuy-pagamentos"
      - "traefik.http.services.wbuy-pagamentos.loadbalancer.server.port=5000"
      - "traefik.http.routers.wbuy-pagamentos-http.rule=Host(`wbuypgto.crmvendedor.com.br`) && PathPrefix(`/wbuy`)"
      - "traefik.http.routers.wbuy-pagamentos-http.entrypoints=web"
      - "traefik.http.routers.wbuy-pagamentos-http.middlewares=wbuy-pagamentos-https-redirect"
      - "traefik.http.middlewares.wbuy-pagamentos-https-redirect.redirectscheme.scheme=https"

networks:
  web:
    external: true
  internal:
    internal: true
